2.lnmp-example/mysql/conf/* 
2.lnmp-example/mysql/data/* 
2.lnmp-example/mysql/log/* 
2.lnmp-example/MyExchange/*
2.lnmp-example/mysql/data_bak
2.lnmp-example/cgi/MyAdmin/runtime
2.lnmp-example/nginx/logs
